/* Custom Properties */

:root {
    --font-family: 'Source Sans Pro' 'Coyni';
    --font-size-title: 6.8rem; /* 108px */
    --font-size-title-small: 3.5rem; /* 56 */
    --font-size: 1rem;     /* 16px*/
    --font-size-small: 0.7rem;  /* 12px*/

    --section-padding: 4rem;
    --bg-primary: #C271FF;
    --opacity-buttons: 0.9;

    --font-size-big: 1.38rem; /*22 px*/
    --font-size-cards: 0.85rem;  /* 14px*/
    --font-weight-semibold: 500;

}

body html {
    font-family: var(--font-family);
}

/* -- Hero section -- */

.navbar-nav .nav-item .nav-link {
    font-size: var(--font-size-small);
}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--bg-primary) !important;
    transition: 0.3s;
}

.header {
    background-image: url("images/pic_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h2 .color {
    color: var(--bg-primary);
}

.hero-section {
    padding-top: 10rem;
}

.hero-section h2,
.hero-section-pricing,
.hero-section-pricing h2 {
    padding-top: 7rem;
}

.hero-section .text-cita {
    margin-bottom: 0.1rem;
}

.hero-section .btn-primary {
    background-color: var(--bg-primary);
    border-color: var(--bg-primary);
}

.hero-section .btn-primary:hover,
.hero-section .btn-primary:focus {
    background-color: var(--bg-primary);
    border-color: var(--bg-primary);
    opacity: var(--opacity-buttons);
}

/* -- Carousel Quotes Section --*/

.carousel #carousel-quotes {
    background-color: var(--bg-primary);
}

#carousel-quotes .text-quote {
    font-size: var(--font-size-big);
}

/* -- Carousel videos Section --*/

.card-text {
    font-size: var(--font-size-cards);
}

.carousel-videos .person_name ,
.carousel-videos .minutes,
.latest_video_section .person_name,
.latest_video_section .minutes {
    font-size: var(--font-size-cards);
    color: var(--bg-primary);
    font-weight: var(--font-weight-semibold);
}

.carousel-videos,
.latest_video_section {
    padding: var(--section-padding) 0;
}

/* -- Membership Section --*/

.membership {
    background-color: #08142c;
    padding: 0 var(--section-padding);
    padding-top: var(--section-padding);
}

.membership .card-img-top  {
    width: 64px;
}

.membership .btn-primary {
    background-color: var(--bg-primary);
    border-color: var(--bg-primary);
}

.membership .btn-primary:hover,
.membership .btn-primary:focus {
    background-color: var(--bg-primary);
    border-color: var(--bg-primary);
    opacity: var(--opacity-buttons);
}

/* -- Footer --*/

footer {
    background-color: #08142c;
    padding-top: var(--section-padding);
}

/* --- responsive --- */

@media screen and (min-width: 992px) {
    .carousel-videos .card,
    .latest_video_section .card {
        margin: 0.5rem;
        width: calc(100%/5.5);
    }
}

@media screen and (min-width: 769px) {
    .hero-section h1 {
        font-size: var(--font-size-title);
    }

    .carousel-videos .card,
    .latest_video_section .card {
        margin: 0.5rem;
        width: calc(100%/5);
    }

    .membership .card {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .hero-section h1 {
        font-size: var(--font-size-title-small);
    }

    .carousel-videos .card,
    .latest_video_section .card {
        margin: 0.5rem;
        width: calc(100%/3);
    }

    .membership .card {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .carousel-videos .card,
    .latest_video_section .card {
        margin: 0.5rem;
        width: calc(100%/2);
    }
}

/* ---- PRICING PAGE ---*/

.header-pricing {
    background-image: url("images/pic_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-section-pricing h1 {
    font-size: 2rem;
}

.hero-section-pricing h2 {
    font-size: var(--font-size-title-small);
}